

.mySlides>img {
    width: 800px;
    height: 400px;
    margin: 140px 0px 0px 70px;
    object-fit: cover;
    object-position: center;
   

}
.threedot{
    margin: 130px 0px 0px 35px;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 5px 0px;
    background-color: #AD9B86;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #816e4a;
}

/* Fading animation */
.fade {
    animation-name: fade;
    /* 動畫名 */
    animation-duration: 1.5s;
    /* 持續時間 */
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */